.homeWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.homeHeader img {
    width: 500px;
    max-width: 80vw;
    margin-right: 100px;
    border-radius: 30px;
}

.homeRank {
    max-width: 35vw;
    box-sizing: border-box;
}

.homeRank ol {
    counter-reset: item;
    list-style: none;
    padding: 0;
}

.homeRank ol > li {
    margin: 20px 0;
    padding: 15px 50px;
    background: #F24E69;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.homeRank ol > .rankLi {
    padding: 15px 10px 15px 70px;
    counter-increment: item;
}

.homeRank ol > .rankLi::before {
    content: counter(item);
    position: absolute;
    left: 5px; top: 0; bottom: 0;
    width: 55px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    opacity: 0.5;
    display: flex; align-items: center; justify-content: center;
}

.homeRank ul {
    list-style-type: "⮞ ";
}

@media(max-width: 1000px) {
    .homeWrap {
        flex-direction: column;
    }
    .homeHeader img {
        margin-right: 0;
    }

    .homeRank {
        max-width: 100%;
        padding: 0 10vw;
    }
}