.adminWrap input[type="number"] {
    width: 50px;
}

.adminWrap input[type="checkbox"] {
    width: 100px;
    height: 100px;
}

.adminWrap select, .adminWrap input {
    padding: 20px 40px;
}

.bigBtn {
    background: white;
    border: 1px black solid;
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
}